<%= render "shared/header" %>
    <%= yield %>
    <div class= mein-back>
    <div class="bg-mask">
    <div>
    <h1>MIRAIでは予めに起こるであろう事を日記スタイルにし実際にその日とのブレを比較するスタイルの日記です。</h1>
    <% if user_signed_in? %>
    <%= link_to 'フォロー一覧', followings_path(current_user.id)%>
    <%= link_to 'フォロワー一覧', followers_path(current_user.id)%>
    <% end %>
     
     

    <footer>
      <%# <p>
        Copyright PicTweet 2019.
      </p> %>
    </footer>
  </body>
</html>
